* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: #121214;
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 300px) 3fr;
    grid-template-rows: auto 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
    ;
}

/* ================ Header ================ */

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 40px;
}

.profile-shortcuts {
    display: grid;
    justify-items: end;
    align-items: center;
    grid-template-columns: 1fr auto;
    gap: 30px;
}

.profile-name {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
}

.profile-icons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
}

.profile-icons img {
    cursor: pointer;
}

.search-field {
    position: relative;
    width: fit-content;
}

.search-icon {
    position: absolute;
    content: url(./assets/search.svg);
    top: 6px;
    left: 9px;
}

input[type="search"] {
    width: 10px;
    padding: 10px 20px 9px;
    color: #fff;
    background-color: #242529;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: all .4s ease-in;
    pointer-events: none;
}

input[type="search"]:focus {
    pointer-events: unset;
    padding: 10px 10px 9px 40px;
    width: 300px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background-image: url(./assets/close.svg);
}

/* ================ Sidebar ================ */

aside {
    grid-area: sidebar;
    height: 100%;
    min-height: 100vh;
    background-color: #242529;
    color: #fff;
    padding: 40px;
}

nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

nav:nth-of-type(1) {
    margin-bottom: 60px;
}

nav a {
    display: flex;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    
}

nav a:hover {
    background-color: #2d2e31; 
    border-radius: 20px;
    transition: background-color .2s ease-in;
}

.active {
    background-color: #393a3e !important;
    border-radius: 20px;
}

a img {
    padding-right: 10px;
}

.logo-container {
    display: grid;
    place-content: center;
    margin-bottom: 60px;
}

/* ================ Main ================ */

main {
    grid-area: main;
    display: grid;
    gap: 40px;
    padding: 40px;
    grid-template-columns: repeat(2, minmax(250px, 1fr)) minmax(250px, 300px);

}

main div {
    min-height: 300px;
    /* border: 1px solid sandybrown; */
    border-radius: 20px;
}

.big-slide {
    grid-column: 1 / 3;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.big-slide div {
    display: grid;
    place-content: center;
    justify-items: center;
    color: #000;
    font-weight: 700;
}

.big-slide div h1 {
    font-size: 3rem;
}

.big-slide div img {
    margin-bottom: 20px;
}

.total {
    border-radius: 20px;
background: linear-gradient(225deg, #98F5E1 0%, #9371C7 100%);

}

.total img {
    transform: rotate(35deg);
}

.completed {
    border-radius: 20px;
background: linear-gradient(180deg, #B9FBC0 0%, #9371C7 100%);
}

.in-progress {
    border-radius: 20px;
background: linear-gradient(135deg, #FFCFD2 0%, #9371C7 100%);
}

.small-slide {

}

.side-info {
    grid-column: 3 / 4;
    grid-row: 1 / span 2;
}

@keyframes rotate {
    from {
        transform: rotate(0deg); /* Start rotation from 0 degrees */
    }
    to {
        transform: rotate(-360deg); /* End rotation at 360 degrees (full circle) */
    }
}